.bg-color-dark {
    background-color: #2C3E50;
}

.bg-color-less-dark {
    background-color: #3A546D;
}

.color-dark {
    color: #2C3E50;
}

.bg-color-aqua {
    background-color: #1ABC9C;
}

.color-aqua {
    color: #1ABC9C;
}

.line {
    height: 4px;
    width: 90px;
    border-radius: 10px;
}

#avatar {
    max-width: 300px;
}

img {
    width: 100%;
    padding: 20px 0;
    border-radius: 70px;
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin: 20px 0;
}

.logos i {
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

#contacts .form-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none;
}

#contacts .form-control::placeholder {
    color: #2C3E50;
}
