.bg-color-dark {
    background-color: #2C3E50;
}

.color-dark {
    color: #2C3E50;
}

.bg-color-aqua {
    background-color: #1ABC9C;
}

.line {
    height: 4px;
    width: 90px;
    border-radius: 10px;
}

#avatar {
    max-width: 300px;
}

img {
    width: 100%;
    padding: 20px 0;
    border-radius: 70px;
}